body {
  font-family: "Source Sans 3";
  max-width: 1440px;
}

.header {
  padding: 32px 130px 0px 130px;
}

.header__contact {
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #888888;
}

.header__logo {
  height: 38px;
  width: 180px;
  background: no-repeat center;
}

.header__telmail {
  display: flex;
  flex-direction: row;
  gap: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #333333;
  text-align: right;
}

.mail {
  font-weight: 600;
  font-size: 20px;
  line-height: 28.48px;
  color: #607ce6;
}

.tel {
  font-weight: 600;
  font-size: 20px;
  line-height: 28.48px;
  color: #607ce6;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
}

.header__nav-tel {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #333333;
  gap: 44px;
}

.bet-button {
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  line-height: 19.2px;
  font-size: 14px;
  font-weight: 400;
  color: #607ce6;
  text-align: right;
}

.hero {
  min-height: 616px;
  display: flex;
  flex-direction: column;
  padding: 80px 130px 0 130px;
}
.hero__text {
  display: flex;
  flex-direction: row;
  gap: 20px;

  padding-bottom: 32px;
}

.hero__header {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  max-width: 580px;
}

.hero__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  max-width: 379px;
  padding-top: 25px;
}

.about {
  min-height: 616px;
  display: flex;
  flex-direction: column;
  padding: 80px 130px 0 130px;
}
.about__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding-top: 32px;
}

.about__header {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: #333333;
}

.about__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  flex-basis: 580px;
  color: #333333;
}

.about__info_1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  flex-basis: 580px;
  color: #333333;
}
.about__cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 32px;
}

.about__image {
  min-width: 580px;
  min-height: 280px;
}

.products {
  padding: 65px 130px 0 130px;
}

.products__header {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: #333333;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(2, 435px);
  row-gap: 25px;
  column-gap: 20px;
  background-color: #fff;
  color: #444;
  padding-top: 32px;
}

.products__card-item {
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0px 32px 24px;
}
.products__image {
  width: 200px;
  background: center/contain;
}

.products__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.products__header-text {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
}
.podrobnee {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #607ce6;
}

.map__header {
  padding: 80px 130px 0px 130px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
}

.image__map {
  padding: 32px 130px 0px 130px;
}

.news {
  padding: 80px 130px 0 130px;
}

.news__header {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: #333333;
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(1, 478px);
  column-gap: 20px;
  background-color: #fff;
  color: #444;
  padding-top: 32px;
}

.news__card-item {
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__image {
  width: 100%;
  background: center/contain;
}

.news__text {
  height: 227px;
  padding: 16px 16px 25px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__header-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #333333;
}
.news__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #607ce6;
}

.news__date {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #888888;
}
